nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin-left: 30px;
  transition: 0.3s ease;
}

li:hover {
  color: #ec5597;
  font-weight: bold;
  cursor: pointer;
}

nav {
  padding-top: 30px;
}


